@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mulish{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:400;
}

/*---------------------Theme Customization------------------------*/
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:  #15803D ;
  --color-secondary: #166534;
  --color-third: #BBF7D0;
  --color-base-content: #606060;
}

.btn-base{
font-size: 16px;
font-weight: 700;
align-items: center;
gap: 8px;
padding: 12px 20px;
border-radius: 23px;
cursor: pointer;
}

/*-------------------------Navbar Active-------------------------*/
.midLinks a.active {
  background: #15803D ;
  padding: 11px 19px;
  border-radius: 50px;
  font-weight: 700;
  color: white;
}
/*------------------To fix Overwrite of active when hovered--------------------*/
.midLinks a.active:hover {
  color: white;
  border-bottom: none;
}

/*-------------------NavLinks Hover-----------------------------*/
.midLinks a:hover {
  font-weight: 700;
  color: #15803D;
  /* text-decoration: underline;  */
  /* border-bottom: 1px solid #15803D; */
}

/*-----------------hamburger ACtive----------------------*/
.hamburger .active {
  font-weight: 700;
  color: #15803D;
}